{% load static %}

<section class="flexslider" data-section="welcome">
      <ul class="slides">
        <li style="background-image: url({% static '/img/hero_bg_1.jpg' %}" class="overlay" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                  <h1 class="primary-heading">Bem vindo à</h1>
                  <h3 class="secondary-heading">Comunidade Sal e Luz</h3>
                  <p class="sub-heading">Uma família que busca manifestar o amor do Pai</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url({% static '/img/hero_bg_2.jpg' %}" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                  <h1 class="primary-heading">Venha</h1>
                  <h3 class="secondary-heading">Adorar conosco</h3>
                  <p class="sub-heading">Cultos aos domingos às 19:00h Qd 1106 sul, Al 33, esquina 24, Lt 48.</p>
                </div>
              </div>
            </div>
          </div>

        </li>
        <li style="background-image: url({% static '/img/hero_bg_3.jpg' %}" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                  <h1 class="primary-heading">Enjoy</h1>
                  <h3 class="secondary-heading">With Us</h3>
                  <p class="sub-heading">A free bootstrap website template by <a href="https://uicookies.com">uicookies.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
</section>