{% load static %}

<section class="probootstrap-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 probootstrap-animate">
            <div class="probootstrap-footer-widget">
              <h3>Local</h3>
              <div class="row">
                <div class="col-md-6">
                  <p> Qd 1106 sul, Al 33, esquina 24, Lt 48. <br> Palmas-TO</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 probootstrap-animate">
            <div class="probootstrap-footer-widget">
              <h3>Nossas Programações</h3>
              <div class="row">
                <div class="col-md-4">
                  <p>Quintas-Feiras: Célula <br> 20:00 h</p>
                </div>
                <div class="col-md-4">
                  <p>Domingos: Cultos <br> 19:00 h</p>
                </div>
                <div class="col-md-4">
                  <p>Para maiores informações entre em contato conosco</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="probootstrap-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p class="copyright-text">&copy; 2017 <a href="https://uicookies.com/">uiCookies:Resto</a>. All Rights Reserved. Images by <a href="https://graphicburger.com/">GraphicBurger</a> &amp; <a href="https://unsplash.com/">Unsplash</a></p>
          </div>
          <div class="col-md-4">
            <ul class="probootstrap-footer-social right">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/saleluzto/"><i class="icon-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>